@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background: linear-gradient(135deg, #1a93f7be 0%, #71a8d8 100%);
    min-height: 100vh;
}

.btn-primary {
    background-color: #4facfe;
    border: #4facfe;
}

